// Variáveis
:root {
  --primary-light: #F5F7FA;
  --primary-dark: #263238;
  --secondary: #5e65a1;
  --dark: #2D3748;
  --light: #F7FAFC;
  --gray: #718096;
  --light-gray: #E2E8F0;
  --cardBorder: #E2E8F0;
  --button: #00BFA5;
  --secondary-button: #FF6D00;
  --hero-font: clamp(25px, 6vw, 3.5rem);
  --standart-font: clamp(20px, 4vw, 32px);
  --small-font: clamp(14px, 3vw, 1.2rem);
}
