// Variáveis
:root {
  --primary-light: #F5F7FA;
  --primary-dark: #263238;
  --secondary: #5e65a1;
  --dark: #2D3748;
  --light: #F7FAFC;
  --gray: #718096;
  --light-gray: #E2E8F0;
  --cardBorder: #E2E8F0;
  --button: #00BFA5;
  --secondary-button: #FF6D00;
  --hero-font: clamp(25px, 6vw, 3.5rem);
  --standart-font: clamp(20px, 4vw, 32px);
  --small-font: clamp(14px, 3vw, 1.2rem);
}

/* Reset e Fontes */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root {
  --primary: #2D5BFF;
  --secondary: #00C9B1;
  --dark: #2D3748;
  --light: #F7FAFC;
  --gray: #718096;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.container {
  min-height: 100%;
  position: relative;
}

.noto-sans-font {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 90.8;
  color: var(--fontColor);
}



a:-webkit-any-link {
  color: var(--fontColor);
  cursor: pointer;
  text-decoration: none;
}